* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/toys1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  font-family: "Helvetica", "Arial", sans-serif;
  height: 100%;
  -webkit-transition: background 300ms ease-in 500ms;
  /* property duration timing-function delay */
  transition: background 300ms ease-in 500ms;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

h1 {
	font-size: 50px;
}

#logo {
  max-width: 94px;
}

/* Card */

.flip {
  height: 350px;
  margin: 50px auto;
  position: relative;
  width: 500px;
  -webkit-perspective: 800;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}

.flip .card {
  height: 100%;
  -webkit-transition: 0.5s;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.flip .card .face {
  border-radius: 1.5em;
  display: block;
  float: left;
  height: 100%;
  height: 100%;
  padding: 3em;
  position: absolute;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Just hide for old browsers */
.flip .card .back {
	visibility: hidden;
}
.flip .card.flipped .back {
	visibility: visible;
	background-color: rgba(255, 255, 255, 0.65);
	color: black;
}
.flip .card .front {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
}
.flip .card.flipped .front {
	visibility: hidden;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
}

/* Inside of card */

input[type="email"] {
  margin: 0px;
  height: 100%;
  vertical-align: middle;
}

ol {
  list-style-position: inside;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: left;
}